<md-whiteframe class="md-whiteframe-2dp" style="margin: 8px; border-radius: 3px;">
    <md-content>
        <div layout layout-align="center center">
            <h2 class="md-display-2">Recover Password</h2>
        </div>
        <form name="$ctrl.resetPasswordForm" layout="column" layout-align="start stretch" layout-padding>
            <md-input-container>
                <label>Email</label>
                <input ng-model="$ctrl.email" name="email" type="email" required
                       ng-keyup="$event.keyCode === 13 && $ctrl.submitFlow()">
                <div ng-messages="passwordRecoveryForm.email.$error">
                    <div ng-message="required">Your email is required</div>
                    <div ng-message="email">The provided email is invalid</div>
                </div>
            </md-input-container>
            <md-button class="md-raised md-primary md-hue-1" style="font-weight: normal" ng-click="$ctrl.signInWithEmail()">
                Go
            </md-button>
        </form>
    </md-content>
</md-whiteframe>